title = "Category"
url = "/category/:slug/:page?"
layout = "default"
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "{{ :slug }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"
==
<?php
function onEnd() {
if ($this->category)
$this->page->title = $this->category->name;
}
?>
==
<article>
{% set posts = blogPosts.posts %}


    <div class="tg-titleborder">
        <span>{{ this.page.title }}</span>
    </div>
    {% set posts = blogPosts.posts %}
    {% for post in posts %}
    <div class="entry-content">
        <div class="row">
            <div class="col-sm-3">
                {% if post.featured_images.count %}
                <a href="{{ post.url }}">
                    <img data-src="{{ post.featured_images[0].filename }}" src="{{ post.featured_images[0].path }}" alt="{{ post.featured_images[0].description }}">
                </a>
                {% else %}
                <a href="{{ post.url }}">
                    <img  src="{{'assets/images/no-image.png'|theme}}" alt="{{ post.title }}">
                </a>
                {% endif %}
            </div>
            <div class="col-sm-8 excerpt">
                <h3 class="entry-title">
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </h3>
                <p>{{ html_limit(post.content,200)|raw }}</p>
                <p class="moretag"><a href="{{ post.url }}"> Read more</a></p>
            </div>
        </div>

        </div>

    {% else %}
    <div class="no-data">{{ noPostsMessage }}</div>
    {% endfor %}


    <!--Paging-->
    {% if posts.lastPage > 1 %}
    <ul class="pagination">
        {% if posts.currentPage > 1 %}
        <li class="page-item"><a class="page-link" href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}">&larr; Prev</a></li>
        {% endif %}

        {% for page in 1..posts.lastPage %}
        <li class="page-item {{ posts.currentPage == page ? 'active' : null }}">
            <a class="page-link" href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
        </li>
        {% endfor %}

        {% if posts.lastPage > posts.currentPage %}
        <li class="page-item"><a class="page-link" href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}">Next &rarr;</a></li>
        {% endif %}
    </ul>
    {% endif %}
</article>